<div class="container"> 
    <h1>Folders</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Created</th>
                    <th scope="col">Files</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% num = 0 %>
                <% @sub_folders.each do |folder| %>
                    <tr>
                        <td>
                            <svg class="bi bi-folder-symlink" width="30" height="30" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.828 4a3 3 0 01-2.12-.879l-.83-.828A1 1 0 006.173 2H2.5a1 1 0 00-1 .981L1.546 4h-1L.5 3a2 2 0 012-2h3.672a2 2 0 011.414.586l.828.828A2 2 0 009.828 3v1z"/>
                                <path fill-rule="evenodd" d="M13.81 4H2.19a1 1 0 00-.996 1.09l.637 7a1 1 0 00.995.91h10.348a1 1 0 00.995-.91l.637-7A1 1 0 0013.81 4zM2.19 3A2 2 0 00.198 5.181l.637 7A2 2 0 002.826 14h10.348a2 2 0 001.991-1.819l.637-7A2 2 0 0013.81 3H2.19z" clip-rule="evenodd"/>
                                <path d="M8.616 10.24l3.182-1.969a.443.443 0 000-.742l-3.182-1.97c-.27-.166-.616.036-.616.372V6.7c-.857 0-3.429 0-4 4.8 1.429-2.7 4-2.4 4-2.4v.769c0 .336.346.538.616.371z"/>
                            </svg>
                        </td>
                        <th scope="row">
                            <%= num += 1 %>
                        </th>  
                        <td>
                            <%= link_to folder.name, folder_path(folder) %>
                        </td>
                        <td>
                            <%= folder.created_at.strftime("%d.%m.%Y") %>
                        </td>
                        <td>
                            <span class="badge badge-primary badge-pill">
                                <%= Folder.find(folder.id).photos.count %>
                            </span>
                        </td>
                        <td>
                            <%= link_to "Rename", edit_folder_path(folder) %>
                            | 
                            <%= link_to "Delete", folder_path(folder), data: { method: :delete } %>
                        </td>
                    </tr>
                <% end %>
                    <tr class="table-borderless">
                        <td>
                            <%= button_to "New Folder", folder_new_sub_folder_path(@folder), method: :get, class: "btn btn-primary btn-space" %>  
                        </td>
                    </tr>
            </tbody>
        </table>
</div>



<div class="container"> 
    <h1>Files</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">#</th>
                    <th scope="col">Select</th>
                    <th scope="col">Created</th>
                    <th scope="col">Shooting</th>
                    <th scope="col">Used</th>
                    <th scope="col">Deletion</th>
                    <th scope="col">Tags</th>
                    <th scope="col">Type</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <% if @photos.any? %>
                <tbody>
                <%= form_with url: folder_download_files_path(params[:id]), local: true do |f| %>                   
                            <% num = 0 %>
                            <% @photos.each do |file| %>
                                    <tr>
                                        <td>
                                            <svg class="bi bi-files" width="30" height="30" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M3 2h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3z"/>
                                            <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2z"/>
                                            </svg>
                                        </td>
                                        <th scope="row">
                                            <%= num += 1 %>
                                        </th>   
                                        <td>
                                            <%= f.check_box( "blob_id", { multiple: true }, file.blob.id) %>
                                        </td>                  
                                        <td>
                                            <%= file.blob.created_at.strftime("%d.%m.%Y") %>
                                        </td>
                                        <td>
                                            <%= "file.shooting_date" %>
                                        </td>
                                        <td>
                                            <%= "file.download_date" %>
                                        </td>
                                        <td>
                                            <%= "file.delete_date.strftime" %>
                                        </td>
                                        <td>
                                            <% file.blob.tags.each_with_index do |tag, index| %>
                                                <% if %>
                                                    <% (file.tags.length - 1) == index %>
                                                    <%= tag.name %>
                                                <% else %>
                                                    <%= tag.name + ","%>
                                                <% end %>
                                            <% end %>
                                        </td>
                                        <td>
                                            <%= file.content_type.partition('/').last %>
                                        </td>
                                        <td>
                                            <%= link_to "Delete", folder_delete_attachment_path(file, folder_id: params[:id], blob_id: file.blob.id) %>
                                            |
                                            <%= link_to "Show", folder_photo_detail_path(file, folder_id: params[:id], blob_id: file.blob.id) %>
                                        </td>

                            <% end %>
                            </tr>
                                <tr class="table-borderless">
                                    <td>
                                        <%= f.submit "Download", class: "btn btn-primary btn-space" %>
                                    </td>
                <% end %>
                                    <td>
                                        <%= button_to "Upload", folder_upload_path(@folder), method: :get, class: "btn btn-primary btn-space" %>
                                    </td>
                                </tr>

                
            <% else %>
                <tr>
                    <td>
                        <%= button_to "Upload", folder_show_path(@folder), method: :get, class: "btn btn-primary btn-space" %>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
</div>
